* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0 6.25rem;
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
  overflow-x: hidden;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style-type: none;
}

a {
  text-transform: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
header .hamburger {
  display: none;
}
header .menu {
  display: none;
}
header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 50%;
}
header .left ul {
  margin-left: 2.5rem;
}
header .left ul li:not(:first-child) {
  margin-left: 1.2rem;
}
header .left ul li a {
  color: hsl(219deg, 9%, 45%);
  font-size: 1rem;
}
header .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .right .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header .right .avatar:hover {
  border: solid 2px hsl(26deg, 100%, 55%);
}
header .right .avatar img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
header .right .cart {
  margin-right: 2.5rem;
  width: 30px;
  height: 15px;
  cursor: pointer;
  position: relative;
  position: relative;
}
header .right .cart .notification {
  position: absolute;
  color: #fff;
  width: 18px;
  height: 12px;
  border-radius: 10px;
  background-color: hsl(26deg, 100%, 55%);
  font-size: 8px;
  font-weight: bold;
  top: -7px;
  left: 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .right .cart img {
  max-width: 100%;
}
header .right .cart .cartDiv {
  position: absolute;
  width: 300px;
  min-height: 250px;
  background-color: hsl(0deg, 0%, 100%);
  top: 40px;
  right: -125px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
header .right .cart .cartDiv .title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  color: hsl(219deg, 9%, 45%);
  font-size: 1rem;
  font-weight: 700;
}
header .right .cart .cartDiv .content {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(219deg, 9%, 45%);
  font-size: 1rem;
  flex-direction: column;
}
header .right .cart .cartDiv .content .product:not(:first-child) {
  margin-top: 10px;
}
header .right .cart .cartDiv .content .product {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
header .right .cart .cartDiv .content .product img {
  width: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
header .right .cart .cartDiv .content .product .feild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
}
header .right .cart .cartDiv .content .product .feild p:first-child {
  font-size: 12px;
}
header .right .cart .cartDiv .content .product .feild p:last-child {
  font-size: 16px;
}
header .right .cart .cartDiv .content .product .feild p:last-child span {
  color: black;
  font-size: bold;
  margin-left: 7px;
  font-size: 16px;
}
header .right .cart .cartDiv .content .product button {
  width: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .right .cart:hover .cartDiv {
  visibility: visible;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  align-items: center;
  padding-top: 30px;
  gap: 120px;
}
section .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
section .images .view {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}
section .images .view img {
  max-width: 100%;
}
section .images .thumbnails {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
section .images .thumbnails img {
  width: 20%;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
section .images .thumbnails img:hover {
  opacity: 0.6;
}
section .images .thumbnails .select {
  opacity: 0.6;
  border: solid 2px hsl(26deg, 100%, 55%);
}
section .description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
section .description .text p:first-child {
  color: hsl(26deg, 100%, 55%);
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
section .description .text h1 {
  margin-bottom: 20px;
  width: 70%;
  font-size: 2rem;
}
section .description .text p {
  color: hsl(219deg, 9%, 45%);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
section .description .text .discount div {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
section .description .text .discount div span {
  font-size: 0.8rem;
  background-color: hsl(25deg, 100%, 94%);
  margin-left: 10px;
  color: hsl(26deg, 100%, 55%);
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section .description .text .discount h5 {
  text-decoration: line-through;
  margin-top: 10px;
  color: hsl(220deg, 14%, 75%);
}
section .description .btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
section .description .btns .click {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 20px;
}
section .description .btns .click img {
  cursor: pointer;
}
section .description .btns button {
  width: 65%;
  height: 40px;
  cursor: pointer;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .description .btns button svg {
  margin-right: 10px;
}

.checkout {
  width: 95%;
  height: 50px;
  color: white;
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  border-radius: 10px;
  margin: 5px 8px;
  cursor: pointer;
  display: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 0 1.25rem;
  }
  header .right .cart .cartDiv {
    position: absolute;
    width: 350px;
    min-height: 250px;
    background-color: hsl(0deg, 0%, 100%);
    top: 40px;
    right: -80px;
  }
  header .left ul {
    display: none;
  }
  header .hamburger {
    cursor: pointer;
    z-index: 100;
    display: flex;
  }
  header .menu {
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsl(0deg, 0%, 100%);
    width: 60vw;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 10px 0 10px 250px rgba(0, 0, 0, 0.7);
    padding-top: 100px;
    z-index: 33;
    transform: translateX(-350%);
    -webkit-transform: translateX(-350%);
    -moz-transform: translateX(-350%);
    -ms-transform: translateX(-350%);
    -o-transform: translateX(-350%);
  }
  header .menu ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
    height: 100%;
  }
  header .menu ul li:not(:first-child) {
    margin-top: 1.2rem;
  }
  header .menu ul li a {
    color: hsl(219deg, 9%, 45%);
    font-size: 1rem;
    font-weight: 700;
  }
}
.active.menu {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}/*# sourceMappingURL=style.css.map */